.card-container {
  /* margin: 250px 200px; */
  margin: 50px 100px 50px 100px;
  height: calc(100vh - 200px);
  overflow: none;
}
/* .card img{
    width: 150px;
    height: 150px;
} */

.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(400px, 0.1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.card-group .card {
  /* Firefox */
  -moz-box-shadow: 0 0 7px rgba(33, 33, 33, 1);
  /* Safari+Chrome */
  -webkit-box-shadow: 0 0 7px rgba(33, 33, 33, 0.7);
  /* Opera */
  box-shadow: 0 0 7px rgba(33, 33, 33, 0.7);
  transition: all 0.2s;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
  height: 400px;
}

.load-more-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card img{
  object-fit: cover;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.card-footer input{
  margin: -10px;
}

input[type=button]:focus{
  border: none !important;
  outline: none !important;
}